$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$dark-shade-5: rgba(31, 32, 65, 0.05);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-30: rgba(31, 32, 65, 0.3);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-100: rgba(31, 32, 65, 1);

$vk1: rgba(96, 127, 214, 1);
$vk2: rgba(23, 48, 114, 1);
$vk3: rgba(34, 13, 83, 1);

$whatsapp1: rgba(119, 255, 101, 1);
$whatsapp2: rgba(44, 151, 30, 1);
$whatsapp3: rgba(12, 59, 5, 1);

$gitlab1: rgb(255, 170, 101);
$gitlab2: rgb(151, 103, 30);
$gitlab3: rgb(59, 25, 5);
