@import '../../../styles/theme.scss';

.children-nodes-links {
  width: 100%;

  &__title {
    margin-bottom: 10px;
    font-weight: bold;
    color: $dark-shade-75;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  &__link {
    height: 40px;
    margin: 0 10px 10px 0;
  }
}
