@import '../../../styles/theme.scss';

.route-adding-form {
  max-width: 350px;
  min-width: 300px;
  height: max-content;
  border: 1px solid $dark-shade-75;
  border-radius: 5px;
  padding: 20px 10px;
  box-shadow: 0px 7px 9px 0px $dark-shade-50;

  &__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $dark-shade-75;
  }

  &__input-label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__route-input {
    margin-bottom: 10px;
  }

  &__title-input {
    margin-bottom: 30px;
  }

  &__submitter {
    height: 40px;
  }
}
