@import '../../../styles/theme.scss';

.footer {
  width: 100%;
  padding: 20px 7%;
  box-shadow: 0px 0px 10px 0px $dark-shade-50;
  background: $white;

  &__title {
    margin-bottom: 10px;
    font-weight: bold;
    color: $dark-shade-75;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    list-style: none;
  }

  &__link {
    height: 40px;
    margin: 0 10px 10px 0;
  }
}
