@import '../../../styles/theme.scss';

@mixin basisPalette($color1, $color2) {
  background: $color1;
  border: 2px solid $color2;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 2px 6px 12px 1px $color2;
  }
}
@mixin textPalette($color1) {
  text-shadow: 1px 2px 2px $color1;
}
@mixin arrowPalette($color1) {
  text-shadow: 0px 0px 5px $color1;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: $dark-shade-75;

  &__basis {
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: inherit;
    outline: none;
    white-space: nowrap;

    @include basisPalette($vk1, $vk3);
    &_palette {
      &_whatsapp {
        @include basisPalette($whatsapp1, $whatsapp3);
      }
      &_gitlab {
        @include basisPalette($gitlab1, $gitlab3);
      }
    }
  }

  &__text {
    margin: 0 50px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $white;

    @include textPalette($vk3);
    &_palette {
      &_whatsapp {
        @include textPalette($whatsapp3);
      }
      &_gitlab {
        @include textPalette($gitlab3);
      }
    }
  }

  &__arrow {
    font-family: 'Material Icons';
    font-size: 20px;
    color: $white;
    position: absolute;
    right: 15px;

    &_direction_up {
      transform: rotate(-90deg);
    }
    &_direction_down {
      transform: rotate(90deg);
    }

    @include arrowPalette($vk3);
    &_palette {
      &_whatsapp {
        @include arrowPalette($whatsapp3);
      }
      &_gitlab {
        @include arrowPalette($gitlab3);
      }
    }
  }
}
