@import '../../../styles/theme.scss';

.button {
  /* width: 100px; */
  width: max-content;
  height: 50px;
  border: 1px solid red;
  outline: none;

  &:hover {
    box-shadow: 2px 6px 12px 1px rgb(120, 170, 128);
  }
  &:active,
  &:focus {
    box-shadow: 2px 6px 12px 1px rgb(170, 120, 120);
  }
}
